.profile {

}

.profileImg {
    height: 240px;
    width: 1000px;
    position: relative;
    overflow: hidden;
}

.img {
    width: 100%;
    position: relative;
    /*top: -70px;*/
}

.content {
    width: 100%;
    padding: 40px 40px;
}