.profile {
    width: 100%;
    /*background: white;*/
    /*box-shadow: 0 0 30px -8px rgba(0, 0, 0, .5);*/
    /*border-radius: 10px;*/
    /*overflow: hidden;*/
}

.profileImg {
    height: 250px;
    width: auto;
    position: relative;
    overflow: hidden;
    margin: -40px -40px 0 -40px;
}

.img {
    width: 100%;
    position: relative;
    object-fit: fill;
}

.content {
    width: 100%;
}