.button {
    color: white;
    letter-spacing: 1px;
    background: var(--main-dark-color);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.button:disabled {
    opacity: 50%;
}