* {
  box-sizing: border-box;
}

.app {
  height: 100%;
  width: 1200px;
  display: grid;
  grid-template-areas:
  "header header"
  "navbar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr auto;
  gap: 30px;
  margin: auto;
  padding: 20px 0;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  grid-area: main;
  /*box-shadow: inset 0 -9px 30px -8px rgba(0, 0, 0, .5);*/
  /*box-shadow: inset 0 -9px 30px -8px rgba(0, 0, 0, .5);*/
}

